<div class="stack-container">
    <div class="stack-content">
        <div class="stack-table-element" ng-repeat="entry in entriesEFGH track by $index">
            <table class="table table-box table-bordered">
                <thead>
					<tr class="border-thick">
                        <th colspan="5" class="no-wrap" style="font-size: 15px;">
                            <span ng-class="{'name-font-small': entry.name.length > 17}">Mr. {{entry.name}}</span>
                        </th>
					</tr>
                    <tr class="border-thick">
                        <th colspan="2" class="no-wrap">
                            10 to 30
                        </th>
                        <th class="no-wrap">	
                            36 Dr
                        </th>
                        <th>
                            No.
                        </th>
                        <th class="th-amount">
                            Amount
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            A<br />
                            U<br />
                            G
                        </td>
                        <td>
                            J<br />
                            U<br />
                            L
                        </td>
                        <td class="td-draw-type" ng-switch="entry.drawE.type">
							<span ng-switch-when="X">E</span>
							<span ng-switch-when="E1/2">E<span class="td-draw-half">1&frasl;2</span></span>
							<div ng-switch-when="E++"><span>E</span><span class="td-draw-plus2">+<br>+</span></div>
							<span ng-switch-default>{{entry.drawE.type}}</span>
                        </td>
                        <td class="td-draw-number">
                            {{entry.drawE.number}}
                        </td>
                        <td class="td-draw-amount">
                            <span ng-if="entry.drawE.amount != 'X'">{{entry.drawE.amount | number:2}} </span>
                            <span ng-if="entry.drawE.amount == 'X'" class="td-draw-number">{{entry.drawE.amount}} </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            S<br />
                            E<br />
                            P
                        </td>
                        <td>
                            A<br />
                            U<br />
                            G
                        </td>
                        <td class="td-draw-type" ng-switch="entry.drawF.type">
							<span ng-switch-when="X">F</span>
							<span ng-switch-when="F1/2">F<span class="td-draw-half">1&frasl;2</span></span>
							<div ng-switch-when="F++"><span>F</span><span class="td-draw-plus2">+<br>+</span></div>
							<span ng-switch-default>{{entry.drawF.type}}</span>
                        </td>
                        <td class="td-draw-number">
                            {{entry.drawF.number}}
                        </td>
                        <td class="td-draw-amount">
                            <span ng-if="entry.drawF.amount != 'X'">{{entry.drawF.amount | number:2}} </span>
                            <span ng-if="entry.drawF.amount == 'X'" class="td-draw-number">{{entry.drawF.amount}} </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            O<br />
                            C<br />
                            T
                        </td>
                        <td>
                            S<br />
                            E<br />
                            P
                        </td>
                        <td class="td-draw-type" ng-switch="entry.drawG.type">
							<span ng-switch-when="X">G</span>
							<span ng-switch-when="G1/2">G<span class="td-draw-half">1&frasl;2</span></span>
							<div ng-switch-when="G++"><span>G</span><span class="td-draw-plus2">+<br>+</span></div>
							<span ng-switch-default>{{entry.drawG.type}}</span>
                        </td>
                        <td class="td-draw-number">
                            {{entry.drawG.number}}
                        </td>
                        <td class="td-draw-amount">
                            <span ng-if="entry.drawG.amount != 'X'">{{entry.drawG.amount | number:2}} </span>
                            <span ng-if="entry.drawG.amount == 'X'" class="td-draw-number">{{entry.drawG.amount}} </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            N<br />
                            O<br />
                            V
                        </td>
                        <td>
                            O<br />
                            C<br />
                            T
                        </td>
                        <td class="td-draw-type" ng-switch="entry.drawH.type">
							<span ng-switch-when="X">H</span>
							<span ng-switch-when="H1/2">H<span class="td-draw-half">1&frasl;2</span></span>
							<div ng-switch-when="H++"><span>H</span><span class="td-draw-plus2">+<br>+</span></div>
							<span ng-switch-default>{{entry.drawH.type}}</span>
                        </td>
                        <td class="td-draw-number">
                            {{entry.drawH.number}}
                        </td>
                        <td class="td-draw-amount">
                            <span ng-if="entry.drawH.amount != 'X'">{{entry.drawH.amount | number:2}} </span>
                            <span ng-if="entry.drawH.amount == 'X'" class="td-draw-number">{{entry.drawH.amount}} </span>
                        </td>
                    </tr>
                    <tr class="border-top-thick">
                        <td colspan="3">
                            Dt: {{input.today | date:'dd/MM/yy'}}
                        </td>
                        <td rowspan="2" class="td-symbol-rupee">
                            &#8377;
                        </td>
                        <td rowspan="2" class="td-total-amount">
                            {{ entry.totalAmount | number:2}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            &nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
			<div ng-if="showPaginationText($index, entriesEFGH)" class="pagination-text" ng-class="{'pagination-text-last': isLastItem($index, entriesEFGH)}">
				<span>{{getPaginationText($index, entriesEFGH)}}</span>
			</div>
		</div>
    </div>
</div>
