<script type="text/ng-template" id="draw_type_renderer.html">
  <div>
    {{node.title}}
  </div>
</script>
<div class="stack-container">
    <div class="stack-content">
        <div class="stack-table-element" ng-repeat="entry in entriesABCD track by $index">
            <table class="table table-box table-bordered">
                <thead>
					<tr class="border-thick">
                        <th colspan="5" class="no-wrap" style="font-size: 15px;">
                            <span ng-class="{'name-font-small': entry.name.length > 17}">Mr. {{entry.name}}</span>
                        </th>
					</tr>
                    <tr class="border-thick">
                        <th colspan="2" class="no-wrap">
                            5 to 25
                        </th>
                        <th class="no-wrap">	
                            36 Dr
                        </th>
                        <th>
                            No.
                        </th>
                        <th class="th-amount">
                            Amount
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            J<br />
                            A<br />
                            N
                        </td>
                        <td>
                            D<br />
                            E<br />
                            C
                        </td>
                        <td class="td-draw-type" ng-switch="entry.drawA.type">
							<span ng-switch-when="X">A</span>
							<span ng-switch-when="A1/2">A<span class="td-draw-half">1&frasl;2</span></span>
							<div ng-switch-when="A++"><span>A</span><span class="td-draw-plus2">+<br>+</span></div>
							<span ng-switch-default>{{entry.drawA.type}}</span>
                        </td>
                        <td class="td-draw-number">
                            {{entry.drawA.number}}
                        </td>
                        <td class="td-draw-amount">
                            <span ng-if="entry.drawA.amount != 'X'">{{entry.drawA.amount | number:2}} </span>
                            <span ng-if="entry.drawA.amount == 'X'" class="td-draw-number">{{entry.drawA.amount}} </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            M<br />
                            A<br />
                            R
                        </td>
                        <td>
                            F<br />
                            E<br />
                            B
                        </td>
                        <td class="td-draw-type" ng-switch="entry.drawB.type">
							<span ng-switch-when="X">B</span>
							<span ng-switch-when="B1/2">B<span class="td-draw-half">1&frasl;2</span></span>
							<div ng-switch-when="B++"><span>B</span><span class="td-draw-plus2">+<br>+</span></div>
							<span ng-switch-default>{{entry.drawB.type}}</span>
                        </td>
                        <td class="td-draw-number">
                            {{entry.drawB.number}}
                        </td>
                        <td class="td-draw-amount">
                            <span ng-if="entry.drawB.amount != 'X'">{{entry.drawB.amount | number:2}} </span>
                            <span ng-if="entry.drawB.amount == 'X'" class="td-draw-number">{{entry.drawB.amount}} </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            A<br />
                            P<br />
                            R
                        </td>
                        <td>
                            M<br />
                            A<br />
                            R
                        </td>
                        <td class="td-draw-type" ng-switch="entry.drawC.type">
							<span ng-switch-when="X">C</span>
							<span ng-switch-when="C1/2">C<span class="td-draw-half">1&frasl;2</span></span>
							<div ng-switch-when="C++"><span>C</span><span class="td-draw-plus2">+<br>+</span></div>
							<span ng-switch-default>{{entry.drawC.type}}</span>
                        </td>
                        <td class="td-draw-number">
                            {{entry.drawC.number}}
                        </td>
                        <td class="td-draw-amount">
                            <span ng-if="entry.drawC.amount != 'X'">{{entry.drawC.amount | number:2}} </span>
                            <span ng-if="entry.drawC.amount == 'X'" class="td-draw-number">{{entry.drawC.amount}} </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            J<br />
                            U<br />
                            N
                        </td>
                        <td>
                            M<br />
                            A<br />
                            Y
                        </td>
                        <td class="td-draw-type" ng-switch="entry.drawD.type">
							<span ng-switch-when="X">D</span>
							<span ng-switch-when="D1/2">D<span class="td-draw-half">1&frasl;2</span></span>
							<div ng-switch-when="D++"><span>D</span><span class="td-draw-plus2">+<br>+</span></div>
							<span ng-switch-default>{{entry.drawD.type}}</span>
                        </td>
                        <td class="td-draw-number">
                            {{entry.drawD.number}}
                        </td>
                        <td class="td-draw-amount">
                            <span ng-if="entry.drawD.amount != 'X'">{{entry.drawD.amount | number:2}} </span>
                            <span ng-if="entry.drawD.amount == 'X'" class="td-draw-number">{{entry.drawD.amount}} </span>
                        </td>
                    </tr>
                    <tr class="border-top-thick">
                        <td colspan="3">
                            Dt: {{input.today | date:'dd/MM/yy'}}
                        </td>
                        <td rowspan="2" class="td-symbol-rupee">
                            &#8377;
                        </td>
                        <td rowspan="2" class="td-total-amount">
                            {{ entry.totalAmount | number:2}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            &nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
			<div ng-if="showPaginationText($index, entriesABCD)" class="pagination-text" ng-class="{'pagination-text-last': isLastItem($index, entriesABCD)}">
				<span>{{getPaginationText($index, entriesABCD)}}</span>
			</div>
		</div>
    </div>
</div>
